<div class="container-fluid">
  <div class="progress">
    <div class="bar"></div>
  </div>
  <div class="play-bar">
    <div class="row">
      <div class="col-xl-4 col-lg-4 col-md-6 col-sm-9 col-8">
        <div class="music">
          <div class="cover">
            <img src="./lib/images/playcover.png" alt="">
          </div>
          <div class="info">
            <div class="title">你离开了南京从此没人和我说话</div>
            <div class="singer">李志</div>
          </div>
        </div>
      </div>
      <div class="col-xl-4 col-lg-4 col-md-6 col-sm-3 col-4">
        <div class="control">
          <div class="prev">
            <i class="fa fa-step-backward"></i>
          </div>
          <div class="play">
            <i class="fa fa-play"></i>
          </div>
          <div class="next">
            <i class="fa fa-step-forward"></i>
          </div>
        </div>
      </div>
      <div class="col-xl-4 col-lg-4 col-md-6">
        <div class="tunings">
          <div class="volume">
            <i class="fa fa-volume-up"></i>
            <div class="volume-progress">
              <div class="bar"></div>
            </div>
          </div>
          <div class="play-list">
            <i class="fa fa-bars"></i>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="list">
  <div class="header">播放列表</div>
  <div class="body">
    <ul class="songlist">
    </ul>

  </div>
</div>
